<main class="container">
	<div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
		<div class="col-md-6 px-0">
			<h1 class="display-4 fst-italic">¡Hola a todos los estudiantes Erasmus!</h1>
			<p class="lead my-3">Bienvenidos al foro de Erasmus, un espacio dedicado a compartir experiencias, consejos
				y vivencias relacionadas con el programa de intercambio más emocionante y enriquecedor que existe.</p>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-md-6">
			<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static">
					<h3 class="mb-0">Explora el mundo Erasmus</h3>
					<p class="card-text mb-auto">Sumérgete en las maravillas del programa Erasmus y descubrirás cómo
						cambiará tu vida para
						siempre.</p>
				</div>
				<div class="col-auto d-none d-lg-block">
					<img src="./assets/img/erasmus.png" alt="Erasmus" class="img-fluid">
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static">
					<h3 class="mb-0">Descubre la creatividad en el programa Erasmus</h3>
					<p class="mb-auto">Cómo el programa Erasmus puede despertar y nutrir tu
						creatividad.</p>
				</div>
				<div class="col-auto d-none d-lg-block">
					<img src="./assets/img/creatividad.png" alt="Erasmus" height="300" width="205">
				</div>
			</div>
		</div>
	</div>
	<div class="row g-5">
		<div class="col-md-8">
			<h3 class="pb-4 mb-4 fst-italic border-bottom">
				Desde España
			</h3>
			<article class="blog-post">
				<h2 class="blog-post-title mb-1">Experiencias Erasmus</h2>
				<p class="blog-post-meta">28 de mayo de 2023 por <b>María</b></p>
				<p>¡Hola a todos los amantes de Erasmus y las experiencias internacionales! En esta entrada de blog,
					vamos a hablar sobre una plataforma en línea emocionante y útil llamada Erasmus Unite. </p>
				<hr>
				<p>Si estás planeando o ya estás disfrutando de tu experiencia de intercambio de estudios en el
					extranjero, este foro-blog es el lugar perfecto para conectar con otros estudiantes de Erasmus y
					discutir una amplia gama de temas relacionados con esta experiencia en español.</p>
				<p>Erasmus Unite se ha convertido rápidamente en una comunidad en línea vibrante y acogedora para
					estudiantes de Erasmus de todo el mundo. </p>
				<p>Aquí, puedes encontrar información valiosa sobre destinos populares, consejos de viaje,
					recomendaciones de alojamiento, oportunidades de becas y mucho más. Además, Erasmus Unite es un
					lugar para compartir tus experiencias, anécdotas divertidas y desafíos que has enfrentado durante tu
					tiempo en el extranjero.</p>
				<p>El foro-blog de Erasmus Unite utiliza la plataforma Bootstrap, que permite una presentación atractiva
					y una amplia variedad de contenido compatible. Podrás encontrar artículos sobre cultura, vida
					estudiantil, actividades locales, consejos académicos y sociales, entre otros temas relacionados con
					la experiencia de Erasmus.</p>
				<p>El contenido en Erasmus Unite abarca desde historias personales y consejos prácticos hasta guías de
					viaje detalladas y discusiones sobre temas actuales. Además, puedes interactuar con otros
					estudiantes de Erasmus, hacer preguntas, compartir tus opiniones y encontrar un apoyo invaluable
					durante tu aventura en el extranjero.</p>
				<p>Así que, si eres un estudiante de Erasmus en busca de un espacio en línea donde puedas conectar con
					otros viajeros internacionales y compartir tus vivencias, te invitamos a unirte a Erasmus Unite.
					Regístrate, explora los temas más interesantes y sumérgete en la comunidad de estudiantes de Erasmus
					apasionados.</p>
				<p>¡Esperamos verte pronto en Erasmus Unite y deseamos que tu experiencia de intercambio de estudios en
					el extranjero sea memorable y llena de aventuras!</p>
				<p>Recuerda: "Viajar no es solo ver nuevos lugares, sino también descubrir nuevas partes de ti mismo". -
					Erasmus Unite.</p>
			</article>
			<article class="blog-post">
				<h2 class="blog-post-title mb-1">Explorando el Mundo con Erasmus</h2>
				<p class="blog-post-meta">22 de mayo de 2023 por <b>Alejandro</b></p>
				<p>¡Saludos a todos los amantes de la experiencia Erasmus y las aventuras internacionales! En esta
					entrada de blog, vamos a sumergirnos en el maravilloso mundo de Erasmus y descubrir cómo esta
					iniciativa ha transformado la vida de millones de estudiantes en todo el mundo.</p>
				<p>Erasmus, el programa de intercambio de estudios de la Unión Europea, ha abierto las puertas a una
					experiencia única y enriquecedora para miles de jóvenes ávidos de descubrir nuevas culturas, ampliar
					horizontes académicos y construir amistades internacionales duraderas. Desde su creación en 1987,
					Erasmus ha sido un puente entre países y ha fomentado el entendimiento intercultural.</p>
				<p>Los estudiantes que participan en el programa Erasmus tienen la oportunidad de estudiar en
					universidades extranjeras, sumergirse en una nueva lengua y cultura, y ampliar su perspectiva
					global. Durante su estancia en el extranjero, los estudiantes de Erasmus pueden experimentar un
					crecimiento personal y académico sin precedentes, enfrentando desafíos, superando barreras y
					descubriendo su verdadero potencial.</p>
				<p>Las ventajas de participar en el programa Erasmus son abundantes. Además del aprendizaje académico,
					los estudiantes tienen la oportunidad de desarrollar habilidades interculturales, mejorar sus
					competencias lingüísticas y establecer redes de contactos internacionales que pueden ser
					beneficiosas en su futura vida profesional.</p>
				<p>Pero Erasmus no se trata solo de estudios y académicos; también es un viaje de autodescubrimiento,
					una aventura llena de momentos memorables y experiencias inolvidables. Desde probar platos
					tradicionales hasta visitar lugares históricos, cada día en el extranjero es una oportunidad para
					explorar, aprender y crecer como persona.</p>
				<p>La diversidad de destinos en el programa Erasmus es asombrosa. Desde las vibrantes ciudades europeas
					como Barcelona y Berlín, hasta las encantadoras ciudades medievales como Heidelberg y Praga, cada
					lugar ofrece su propia magia y encanto. Los estudiantes de Erasmus tienen la oportunidad de
					sumergirse en la vida cotidiana de diferentes países, conocer nuevas perspectivas y crear recuerdos
					que durarán toda la vida.</p>
				<p>Ya sea que estés considerando unirte a Erasmus, estés en medio de tu experiencia o seas un exalumno
					nostálgico, te invitamos a compartir tus historias, consejos y reflexiones sobre el programa Erasmus
					en la sección de comentarios. Este blog es un espacio para conectar, inspirar y apoyar a otros
					estudiantes que están embarcando en esta aventura única.</p>
				<p>Recuerda: "Erasmus es más que un programa de intercambio; es un viaje que transforma vidas y abre
					puertas al mundo".</p>
				<p>¡Hasta la próxima, exploradores de Erasmus! Que tus experiencias sean emocionantes, tus amistades
					sean duraderas y tu amor por el intercambio cultural nunca se desvanezca.</p>
			</article>
		</div>
		<div class="col-md-4">
			<div class="position-sticky" style="top: 2rem;">
				<div class="p-4 mb-3 bg-body-tertiary rounded">
					<h4 class="fst-italic">Contacto</h4>
					<button type="button" onclick="window.location.href='mailto:erasmusunite2023@gmail.com'" class="btn btn-success" style="margin-bottom: 10px;" >
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-envelope" viewBox="0 0 16 16">
							<path
								d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z">
							</path>
						</svg>
						erasmusunite2023@gmail.com
					</button>
					<button type="button" class="btn btn-primary" onclick="window.location.href='https://twitter.com/ErasmusUnite'">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-twitter" viewBox="0 0 16 16">
							<path
								d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z">
							</path>
						</svg>
						ErasmusUnite
					</button>
				</div>
			</div>
		</div>
	</div>
</main>